
h1{
  color: blueviolet;
  text-shadow: 1em, ;
  text-align: center;
  font-family: fantasy
}

#name, #home{
  color: violet;
  text-align: right;
}

#greet{
  color: green;
  text-align: center;
}

